$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "materialize/sass/materialize.scss";
// endbower

/* unvisited link */
a:link {
    color: white;
    }

/* visited link */
a:visited {
    color: white;
    }

/* mouse over link */
a:hover {
    color: yellow;
    }

/* selected link */
a:active {
    color: red;
    }
    
body {
  background-color: #404040;
  padding: 0;
}

.none {
  border-color: #333333;
  color: #333333;
}
.standard {
  border-color: #CCCCCC;
  color: #CCCCCC;
}
.premium {
  border-color: gold;
  color: gold;
}
.severity_4 {
  color: green;
}
.severity_3 {
  color: yellow;
}
.severity_2 {
  color: orange;
}
.severity_1 {
  color: red;
}
.ticket {
  background-color: grey;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  margin: 5px;
}
.arrow {
       width: 0; 
       height: 0; 
       border-top: 10px solid transparent;
       border-bottom: 10px solid transparent; 
       
       border-right:10px solid; 
}
/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 0px;
  }
}

/* Custom page footer */
.footer {

}

.container-narrow > hr {


}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 100%) {
  .container {
    position: relative;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {

  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
